.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  //when the images get bigger it seems to overflow the container
  //so we do this
  overflow: hidden;

  &:hover {
    //when you hover over the menu item change the cursor to a pointer
    cursor: pointer;
    //any item with the class background
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  // if the component has large in its class name then increase its height to 380
  &.large {
    height: 380px;
  }
  &:first-child {
    margin-right: 7.5px;
  }
  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    //make the image always the size of its container
    width: 100%;
    height: 100%;
    // we want the image to be centered and covering the entire div
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center; //aligns vertically
    justify-content: center; // aligns horizontally
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    // ensures that the content follows its own calculations and not base it off of other elements
    position: absolute;
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
