body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

/* the header component's links create a tags*/
a {
  text-decoration: none;
  color: black;
}

/*makes everything aligned for the sign in page*/

* {
  box-sizing: border-box;
}
